body {
    margin: 0;
    background: linear-gradient(white, rgb(209, 117, 134));
    display: flex;
    justify-content: center;
}

#bodySection {
    text-align: center;
    width: 350px;
    height: 120px;
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

h1 {
    font-size: 35px;
    padding-top: 10px;
    margin: 0;
}

p#completedItemsLabel {
    font-size: 10px;
    font-family: sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    font-family: sans-serif;
    text-align: center;
    padding: 3px;
    background-color: white;
}

li span {
    cursor: pointer;
    font-size: 20px;
}

.completed {
    text-decoration: line-through;
    color: #8b8b8b;
}

.deleteButton {
    font-size: 20px;
    padding-left: 10px;
}